# https://contactout.com/privacy_policy

Privacy Policy
This is our privacy policy for website and chrome extension users. For our privacy policy for people who we gather contact information on click here.

Contactout Limited ("us", "we", or "our") operates the website https://contactout.com and the Contactout Chrome Extension (together, the “Service”). This page informs you of our policies regarding the collection, use and disclosure of Information in connection with the Service. By using the Service, you agree to the collection and use of information in accordance with this policy.

Our Services aggregates personal information such as email addresses from publicly available sources on the internet. If you do not want your personal information to be included as part of our Service, you may opt out by contacting us at support@contactout.com

Information gathered from visitors
Log data: we collect information that your browser sends whenever you visit our Site ("Log Data"). This Log Data may include information such as your computer's Internet Protocol ("IP") address, browser type, browser version, the pages of our Site that you visit, the time and date of your visit, the time spent on those pages and other statistics. In addition, we may use third party services such as Google Analytics that collect, monitor and analyze Log Data.

User data: we may ask for certain information such as an e-mail address when you register for an account. When you use the Contactout Chrome Extension to find email addresses we may collect the social media profile url, name, and social media profile information of the person you are requesting an email for. We use this information to match to our database and return an email address to you.

Cookies: cookies are files with small amounts of data, which may include an anonymous unique identifier. Cookies are sent to your browser from a web site and stored on your computer's hard drive. We use "cookies" to collect information. You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Site.

Marketing and promotions
We may use your email to contact you with newsletters, marketing or promotional materials. If you do not want to receive such email messages, you will be given the option to opt out or change your preferences.

Sharing of your information
We will not rent or sell the personal information of users of our Service. In future we may sell or divest the company. Your Personal Information such as customer names and email addresses and other user information related to the Service may be among the items sold or otherwise transferred in the event of a company sale.

Security
The security of your Personal Information is important to us, we strive to use commercially acceptable means to protect your Personal Information. However we can not warrant the security of any information you transmit to us or guarantee that information on the Service may not be accessed, disclosed, altered, or destroyed. In the event that any information under our control is compromised as a result of a breach of security, we will take reasonable steps to investigate the situation and, where appropriate, notify those individuals whose information seems likely to have been compromised, and take other steps in accordance with any applicable laws and regulations.

Visitor Options
If at any time you wish to remove information collected by the Service about you, you may opt out by contacting us at support@contactout.com. You can stop receiving promotional email communications from us by clicking on the unsubscribe link provided in such communications.

How to contact us
Please contact us at support@contactout.com if you have any questions regarding our privacy policy

Changes to our privacy policy
This Privacy Policy is effective as of 1 January 2017 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page. We reserve the right to update or change our Privacy Policy at any time and you should check this Privacy Policy periodically. Your continued use of the Service after we post any modifications to the Privacy Policy on this page will constitute your acknowledgment of the modifications and your consent to abide and be bound by the modified Privacy Policy.

Google API Services User Data Policy
Contactout's use and transfer to any other app of information received from Google APIs will adhere to Google API Services User Data Policy, including the Limited Use requirements.

Data Collected from Google Users
We collect the following categories of personal data when you use or interact with our products and services, including the Google Sheets add-on ContactSheets and associated web services:

Personal information provided to us by you, such as your name, email address, and other contact information.
Information we collect through your use of our services
We do not collect any additional information from Google users beyond what is necessary to provide the services you have requested.

How We Use Google User Data
We use the Google user data collected to:

Provide and improve our services, including delivering contact information as requested via the ContactOut service.
Communicate with you regarding your account, service updates, and any inquiries you submit.
Send you newsletters or promotional materials only if you have opted in to receive them.
Sharing, Transfer, or Disclosure of Google User Data
We do not transfer, disclose, or sell your personal information to third parties for any purposes other than those specified in this privacy policy. In some cases, we may be required by law to disclose your personal data, for instance, in response to legal obligations or to protect the security of our services.

Data Retention and Deletion
We retain your personal information for as long as it is necessary to fulfill the purposes outlined in this privacy policy or to comply with legal obligations.

You have the right to request the deletion of your personal data at any time by contacting us at support@contactout.com. We will review your request and delete your data in accordance with applicable legal requirements and our internal data retention policies.

ContactOut
© 2024 ContactOut. All rights reserved.
Directory
Product

Our Data
Clients
Pricing
Use Cases

Sales
Recruiters
Features

Chrome Extension
Search Portal
API
Email Campaigns
Integrations
Data Enrichment
Company

About Us
Careers
Contact Us
Resources

How to use ContactOut
Knowledge Base
How to Start a Startup
Recruitment Mastery Hub
Cold Email Mastery Hub
Sales Mastery Hub
Founder's Blog
ContactOut Alternatives
Legal

Terms of Use
Privacy
Privacy Policy
Do Not Sell My Info
